{% extends 'universal.html' %}
{% load static %}
<!DOCTYPE html>

{% block style_block %}
	.unlock{
		background-color: #ffffff;
		border: none;
		display: block;
		margin: auto;
	}
	.lock{
		background-color: #ffffff;
		border: none;
		display: none;
		margin: auto;
	}
	.Title_Card{
		margin-top: 25px;
		margin-bottom: 25px;
		background-color: #00415D;
		border: none;
		color: white;
		padding: 10px;
		width: 100%;
		text-align: center;
		text-decoration: none;
		font: bold 25px arial;
	}
{% endblock %}

<head>
    <meta charset="utf-8" />
    <title></title>
</head>
{% block body_block %}
<br>
<button class = "unlock" id = "unlock" onclick = "unlockIt()">
	<img src = "{% static 'noun_Lock_99.png' %}" alt="connect" width="50" height="50">
</button>
<button class = "lock" id = "lock" onclick = "lockIt()">
	<img src = "{% static 'noun_Unlock_99.png' %}" alt="connect" width="50" height="50"> 
</button>
<div class = "Form">
	<form id = "objective_form" enctype="multipart/form-data" action = "{% url 'projects:objective' objective_ID %}" method = "post">
		{% csrf_token %}
		{{ objective_form.as_p }}
		<input class = "Button" type = "submit" value = "Submit">
	</form>

	<div class = "Title_Card">
		Steps
	</div>
	<div class="row pt-2">
	{% for step in Steps %}
		<div class="col-sm-4 col-md-2 col-lg-3">
			<a href="{% url 'projects:step' step.id %}" class = "card" style = "width: 150px; height: 250px; margin: 10px;">
				<div class = "card-body">
					<img class = "card-img" src = "{% static 'noun_Book_2342158.png' %}" alt="connect" width="150" height="115">
					<h3 class="card-title" style="color: #000000;">{{ step.StepName }}</h3>
				</div>
			</a>
		</div>
		<br>
	{% endfor %}
	<div class = "Steps">
		<div>
			<form id = "step_helper_form" enctype="multipart/form-data" action = "{% url 'projects:objective' objective_ID %}" method = "get">
				{% csrf_token %}
				{{ step_helper_form }}
				<input class = "Card" type = "submit" name = "add_Step" value = "Add Step">
			</form>
		</div>
	</div>

	<div class = "Title_Card">
		Milestones
	</div>
	<div class="row pt-2">
	{% for milestone in Milestones %}
		<div class="col-sm-4 col-md-2 col-lg-3">
			<a href="{% url 'projects:milestone' milestone.id %}" class = "card" style = "width: 150px; height: 250px; margin: 10px;">
				<div class = "card-body">
					<img class = "card-img" src = "{% static 'noun_Book_2342158.png' %}" alt="connect" width="150" height="115">
					<h3 class="card-title" style="color: #000000;">{{ milestone.TriggerName }}</h3>
				</div>
			</a>
		</div>
		<br>
	{% endfor %}
	<div class = "Milestones">
		<div>
			<form id = "milestone_helper_form" enctype="multipart/form-data" action = "{% url 'projects:objective' objective_ID %}" method = "get">
				{% csrf_token %}
				{{ milestone_helper_form }}
				<input class = "Card" type = "submit" name = "add_Milestone" value = "Add Milestone">
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">

function lockIt(){
	const elements = ['ObjCode','ObjName','ObjDescription','ObjStartDate','ObjEndDate','ObjFlowDiagram']
	elements.forEach(element => lockItHelper(element));

	var lock_button = document.getElementById("lock");
	var unlock_button = document.getElementById("unlock");

	lock_button.style.display = "none";
	unlock_button.style.display = "block";
}

function lockItHelper(element){
	var field = document.getElementsByName(element)[0];
	field.readOnly = true;
}


function unlockIt(){
	const elements = ['ObjCode','ObjName','ObjDescription','ObjStartDate','ObjEndDate','ObjFlowDiagram']
	elements.forEach(element => unlockItHelper(element));

	var lock_button = document.getElementById("lock");
	var unlock_button = document.getElementById("unlock");

	lock_button.style.display = "block";
	unlock_button.style.display = "none";
}

function unlockItHelper(element){
	var field = document.getElementsByName(element)[0];
	field.readOnly = false;
}

</script>
{% endblock %}
</html>