{% extends 'universal.html' %}
{% load static %}
<!DOCTYPE html>

{% block style_block %}
	.unlock{
		background-color: #ffffff;
		border: none;
		display: block;
		margin: auto;
	}
	.lock{
		background-color: #ffffff;
		border: none;
		display: none;
		margin: auto;
	}
	.container{
		margin: auto;
		width: 80%;
	}
	.Title_Card{
		margin-top: 25px;
		margin-bottom: 25px;
		background-color: #00415D;
		border: none;
		color: white;
		padding: 10px;
		width: 100%;
		text-align: center;
		text-decoration: none;
		font: bold 25px arial;
	}
	.Card{
	
	}
{% endblock %}

<head>
    <meta charset="utf-8"/>
    <title></title>
</head>
{% block body_block %}
<br>
<button class = "unlock" id = "unlock" onclick = "unlockIt()">
	<img src = "{% static 'noun_Lock_99.png' %}" alt="connect" width="50" height="50">
</button>
<button class = "lock" id = "lock" onclick = "lockIt()">
	<img src = "{% static 'noun_Unlock_99.png' %}" alt="connect" width="50" height="50"> 
</button>

<div class = "Form">
	<form id = "project_form" enctype="multipart/form-data" action = "{% url 'projects:project' project_ID %}" method = "post">
		{% csrf_token %}
		{{ project_form.as_p }}
		<input class = "Button" type = "submit" name = "project_Submit" value = "Submit">
	</form>
</div>

<div class = "container">
	<div class = "Title_Card">
		Trigger
	</div>
	<div class="row pt-2">
	{% for trigger in Triggers %}
		<div class="col-sm-4 col-md-2 col-lg-3">
			<a href="{% url 'projects:trigger' trigger.id %}" class = "card" style = "width: 150px; height: 250px; margin: 10px;">
				<div class = "card-body">
					<img class = "card-img" src = "{% static 'noun_measure_3170678.png' %}" alt="connect" width="150" height="115">
					<h3 class="card-title" style="color: #000000;">{{ trigger.TriggerName }}</h3>
				</div>
			</a>
		</div>
		<br>
	{% endfor %}
	<div class = "Trigger">

		<div>
			<form id = "trigger_helper_form" enctype="multipart/form-data" action = "{% url 'projects:project' project_ID %}" method = "get">
				{% csrf_token %}
				<!--{{ trigger_helper_form }}-->
				<input class = "Card" type = "submit" name = "add_Trigger" value = "Add Trigger">
			</form>
		</div>
	</div>
	</div><!--This div closer is nessecary for some reason-->
</div>

<div class = "container">
	<div class = "Title_Card">
		Outputs
	</div>
	<div class="row pt-2">
	{% for output in Outputs %}
		<div class="col-sm-4 col-md-2 col-lg-3">
			<a href="{% url 'projects:output' output.id %}" class = "card" style = "width: 150px; height: 250px; margin: 10px;">
				<div class = "card-body">
					<img class = "card-img" src = "{% static 'noun_Book_2342158.png' %}" alt="connect" width="150" height="115">
					<h3 class="card-title" style="color: #000000;">{{ output.OutputTitle }}</h3>
				</div>
			</a>
		</div>
		<br>
	{% endfor %}
	<div class = "Output">
		<div>
			<form id = "output_helper_form" enctype="multipart/form-data" action = "{% url 'projects:project' project_ID %}" method = "get">
				{% csrf_token %}
				{{ output_helper_form }}
				<input class = "Card" type = "submit" name = "add_Output" value = "Add Output">
			</form>
		</div>
	</div>
	</div><!--This div closer is nessecary for some reason-->
</div>

<div class = "container">
	<div class = "Title_Card">
		Objectives
	</div>
	<div class="row pt-2">
	{% for objective in Objectives %}
		<div class="col-sm-4 col-md-2 col-lg-3">
			<a href="{% url 'projects:objective' objective.id %}" class = "card" style = "width: 150px; height: 250px; margin: 10px;">
				<div class = "card-body">
					<img class = "card-img" src = "{% static 'noun_measure_3170678.png' %}" alt="connect" width="150" height="115">
					<h3 class="card-title" style="color: #000000;">{{ objective.ObjName }}</h3>
				</div>
			</a>
		</div>
		<br>
	{% endfor %}
	<div class = "Objective">
		<div>
			<form id = "objective_helper_form" enctype="multipart/form-data" action = "{% url 'projects:project' project_ID %}" method = "get">
				{% csrf_token %}
				{{ objective_helper_form }}
				<input class = "Card" type = "submit" name = "add_Objective" value = "Add Objective">
			</form>
		</div>
	</div>
	</div><!--This div closer is nessecary for some reason-->
</div>

<div class = "container">
	<div class = "Title_Card">
		Goals
	</div>
	<div class="row pt-2">
	{% for goal in Goals %}
		<div class="col-sm-10 col-md-10 col-lg-3">
			<a class = "card" style = "width: 150px; height: 250px; margin: 10px;">
				<div class = "card-body">
					<img class = "card-img" src = "{% static 'noun_Flag_559779.png' %}" alt="connect" width="150" height="115">
					<h3 class="card-title" style="color: #000000;">{{ goal.GoalName }}</h3>
				</div>
			</a>
		</div>
		<br>
	{% endfor %}
	<div class = "Goals">
		<div>
			<a href="{% url 'projects:goalAdder' project_ID %}" class = "card" style = "width: 150px; background-color: #00415D; margin: 10px;">

			</a>
		</div>
	</div>
	</div><!--This div closer is nessecary for some reason-->
</div>

<div class = "container">
	<div class = "Title_Card">
		Species Communities
	</div>
	<div class="row pt-2">
	{% for speCom in SpeComs %}
		<div class="col-sm-4 col-md-2 col-lg-3">
			<a class = "card" style = "width: 150px; height: 250px; margin: 10px;">
				<div class = "card-body">
					<img class = "card-img" src = "{{ speCom.Picture.url }}" alt="connect" width="150" height="115">
					<h3 class="card-title" style="color: #000000;">{{ speCom.Acronym }}</h3>
				</div>
			</a>
		</div>
		<br>
	{% endfor %}
	<div class = "SpeComs">
		<div>
			<a href="{% url 'projects:speComAdder' project_ID %}" class = "card" style = "width: 150px; background-color: #00415D; margin: 10px;">

			</a>
		</div>
	</div>
	</div><!--This div closer is nessecary for some reason-->
</div>

<div class = "container">
	<div class = "Title_Card">
		Conservation Measures
	</div>
	<div class="row pt-2">
	{% for conMeas in ConMeas %}
		<div class="col-sm-4 col-md-2 col-lg-3">
			<a class = "card" style = "width: 150px; height: 250px; margin: 10px;">
				<div class = "card-body">
					<img class = "card-img" src = "{% static 'noun_measure_3170678.png' %}" alt="connect" width="150" height="115">
					<h3 class="card-title" style="color: #000000;">{{ conMeas.CMCode }}</h3>
				</div>
			</a>
		</div>
		<br>
	{% endfor %}
	<div class = "ConMeas">
		<div>
			<a href="{% url 'projects:conMeasAdder' project_ID %}" class = "card" style = "width: 150px; background-color: #00415D; margin: 10px;">

			</a>
		</div>
	</div>
	</div><!--This div closer is nessecary for some reason-->
</div>

<div class = "container">
	<div class = "Title_Card">
		Locations
	</div>
	<div class="row pt-2">
	{% for location in Locations %}
		<div class="col-sm-4 col-md-2 col-lg-3">
			<a class = "card" style = "width: 150px; height: 250px; margin: 10px;">
				<div class = "card-body">
					<img class = "card-img" src = "{% static 'noun_Mountain_70698.png' %}" alt="connect" width="150" height="115">
					<h3 class="card-title" style="color: #000000;">{{ location.LocationCode }}</h3>
				</div>
			</a>
		</div>
		<br>
	{% endfor %}
	<div class = "Locations">
		<div>
			<a href="{% url 'projects:locationAdder' project_ID %}" class = "card" style = "width: 150px; background-color: #00415D; margin: 10px;">

			</a>
		</div>
	</div>
	</div><!--This div closer is nessecary for some reason-->
</div>

<div class = "container">
	<div class = "Title_Card">
		Related Projects
	</div>
	<div class="row pt-2">
	{% for relatedProject in RelatedProjects %}
		<div class="col-sm-4 col-md-2 col-lg-3">
			<a href="{% url 'projects:relatedProject' relatedProject.id %}" class = "card" style = "width: 150px; height: 250px; margin: 10px;">
				<div class = "card-body">
					<img class = "card-img" src = "{% static 'noun_Mountain_70698.png' %}" alt="connect" width="150" height="115">
					<h3 class="card-title" style="color: #000000;">{{ relatedProject.WorktaskID }}</h3>
				</div>
			</a>
		</div>
		<br>
	{% endfor %}
	<div class = "RelatedProjects">
		<div>
			<form id = "related_project_helper_form" enctype="multipart/form-data" action = "{% url 'projects:project' project_ID %}" method = "get">
				{% csrf_token %}
				{{ related_project_helper_form }}
				<input class = "Card" type = "submit" name = "add_Related_Projects" value = "Add Related Project">
			</form>
		</div>
	</div>
	</div><!--This div closer is nessecary for some reason-->
</div>



<script type="text/javascript">

function lockIt(){
	const elements = ['WorktaskID','ProjectName','ProjectLead','ProjectStatus','ProjectType','ProjectStart','ProjectEnd','ProjectSummary','ProjectBackground','OtherConsMeas','OtherSpecies',]
	elements.forEach(element => lockItHelper(element));

	var lock_button = document.getElementById("lock");
	var unlock_button = document.getElementById("unlock");

	lock_button.style.display = "none";
	unlock_button.style.display = "block";
}

function lockItHelper(element){
	var field = document.getElementsByName(element)[0];
	field.readOnly = true;
}


function unlockIt(){
	const elements = ['WorktaskID','ProjectName','ProjectLead','ProjectStatus','ProjectType','ProjectStart','ProjectEnd','ProjectSummary','ProjectBackground','OtherConsMeas','OtherSpecies',]
	elements.forEach(element => unlockItHelper(element));

	var lock_button = document.getElementById("lock");
	var unlock_button = document.getElementById("unlock");

	lock_button.style.display = "block";
	unlock_button.style.display = "none";
}

function unlockItHelper(element){
	var field = document.getElementsByName(element)[0];
	field.readOnly = false;
}

</script>
{% endblock %}
</html>