{% extends 'universal.html' %}
{% load static %}

{% block style_block %}
	.page-title{
		margin-left: 40%;
	}
	.Add{
	}
	.card{
		padding-left: 10px;
	}
    .center-list {
        margin: auto;
        width: 80%;
    }
{% endblock %}


{% block title_block %}
Project Hub
{% endblock %}

{% block body_block %}
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="center">
	<br>
	<h3 class="page-title">
		Project Hub
	</h3>
	<br>
</div>

<div>
	<div style="margin-left:60%;">
		<form action="">
			<select name="fields" id="fields">
				<option value="WorktaskID">Worktask ID</option>
				<option value="ProjectName">Project Name</option>
				<option value="ProjectLead">Project Lead</option>
				<option value="ProjectStatus">Project Status</option>
				<option value="ProjectType">Project Type</option>
				<option value="ProjectStart">Project Start</option>
				<option value="ProjectEnd">Project End</option>
				<option value="ProjectSummary">Project Summary</option>
				<option value="ProjectBackground">Project Background</option>
				<option value="OtherConsMeas">Other Conservation Measures</option>
				<option value="OtherSpecies">Other Species</option>
				<option value="Reference">Reference</option>
				<option value="ProjectContributors">Project Contributors</option>
			</select>
			<input type="text" name="search" placeholder="Search" value="">
			<input type="submit" value="Search">
		</form>
	</div>
	<div id="Project" class="center-list">
		<div class="row pt-2">
			{% for project in All_Projects %}
			<div class="card col-sm-4 col-md-4 col-lg-4" style="max-width: 340px; margin: 10px;">
				<a href="{% url 'projects:project' project.id %}" class="mb-2">
					<div class="row">
						<div class="col-md-4">
							<img src="{% static 'noun_Book_2342158.png' %}" class="card-img" style="min-width: 100px; margin-top: 20px; margin:10px;" alt="connect">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h3 class="card-title" style="color: #000000;">{{ project.WorktaskID }}</h3>
								<h5 class="card-sub-title" style="color: #000000;">{{ project.ProjectName }}</h5>
							</div>
						</div>
					</div>
				</a>
			</div>
			<br>
			{% endfor %}
			<br>
			<div class="Add">
				<a href="{% url 'projects:project' 0 %}" class="card col-sm-4 col-md-4 col-lg-4" style="width: 340px; background-color: #00415D; margin: 10px;">
					<div class="row">
						<div class="col-md-4">
							<img class="card-img" src="{% static 'noun_Plus_White_2268151.png' %}" width="160" height="115">
						</div>
						<div class="col-md-8">
							<div class="card-body" style="margin: 10px;">
								<h5 class="card-title" style="text-decoration: none; color: #FFFFFF; align-items: center;"> Add New Project </h5>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<br>



<script type="text/javascript">

</script>
	{% endblock %}
