{% load static %}

<style>
	.AIMS-header {
		background-color: #00415D;
		height: 150px;
		display: flex;
		align-items: center;
		position: relative;
	}
	.title {
		color: #FFFFFF;
		font: bold 35px arial;
		margin-left: 10 px;
		position: absolute;
		left: 0;
		padding: 10px;
		text-align: center;
	}
	.Button{
		margin-top: 100px;
		margin-bottom: 100px;
		margin-left: 30%;
		background-color: #CD9157;
		border: none;
		color: white;
		padding: 10px 180px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font: bold 35px arial;
	}
	.Logo{
		margin-right: 10px;
		margin-top: 10px;
		position: absolute;
		right: 0;
		height: 75px;
		width: 177px;
	}
	footer {
  		background-color: #00415D;
		height: 100px;
	}
</style>

{% block title_block %}
AIMS
{% endblock %}

{% block body_block %}

<div class="AIMS-header">
	<h1 class="title">
		The Lower Colorado River Multi-Species Conservation Program Adaptive Management Information Management System
	</h1>
</div>

<div>
	<a href= "{% url 'user_functions:login' %}" class="Button"> Login </a>
</div>

<footer>
	<img class="Logo" src="{% static 'MSCP_logo.png' %}" alt="MSCP Logo" width="1460" height="600">
</footer>
	
{% endblock %}